# Object files
*.o
*.ko
*.cmd
*.order
*.builtin
vmlinux
.config
.config.old
*.S
*.lzo
*.lds
*.s
.version
Image
zImage
System.map
Module.symvers
.missing-syscalls.d
.tmp_System.map
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
auto.conf
kernel.release
tristate.conf
autoconf.h
compile.h
utsrelease.h
config_data.gz
config_data.h

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
